<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body
    style="
      background-color: var(--background0);
      color: var(--foreground0);
      font-family: var(--font-family);
    "
    class="container"
  >
    <a href="#main" class="skip-link">Skip to main content</a>
    <div
      class="page-frame"
      box-="round"
      shear-="top"
      style="--box-border-color: var(--foreground2)"
    >
      {{ partial "header.html" . }}
      <main id="main" role="main">{{ block "main" . }}{{ end }}</main>
      {{ partial "footer.html" . }}
    </div>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "08dcfa3ad497489a807531dffc3ea1bd"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>
